@import "variables";

.main{
	display: flex;
	height: 120vh;

	.mobileSkills{
		display: none;
	}


	@media @verticalTablet{
		flex-direction: column;
	}

	@media @smallPhone{
		height: 150rem;

		.mobileSkills{
			display: block;
			background-color: @oceanBlue;
			height: auto;
		}
	}


	div{
		width: 50%;


		@media @verticalTablet{
			width: 100%;
			height: 100vh;
		}

		@media @smallPhone{
			height: 150vh;
		}

	}

	.left{
		background-image: url('https://i.postimg.cc/YCQjWDsV/software-developer.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;

		@media @smallPhone{
			height: 40rem;
		}
	}

	.right{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: @bluePigment;

		p{
			margin: 2rem 0;
			width: 80%;
			text-align: justify;
			color: @gainsboro;
		}

		.skills{
			border-radius: 2rem;
			overflow: hidden;
			box-shadow: 0 0 3rem -1rem;
			margin-top: 4rem;

			@media @verticalTablet{
				height: 20rem;
				width: 20rem;
			}

			@media @smallPhone{
				display: none;
			}
		}		
	}

}