@import "variables";

nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 8rem 0 6.5rem;

	@media @verticalTablet{
		flex-direction: column;
		padding: 0;
	}

	@media @phone{
		padding-bottom: 3rem;
	}

	.logo{
		width: 8rem;

		@media @verticalTablet{
			padding: 2rem 0;
		}

	}

	.menu{
		display: flex;
		gap: 3rem;

		@media @verticalTablet{
			flex-direction: column;
			gap: 1rem;
		}

		p{
			font-size: 1.85rem;
			color: black;

			&:hover{
				cursor: pointer;
				color: @bluePigment;
			}
		}
	}

	
}

.activeMenu{
	font-size: 1.85rem;
	color: @bluePigment !important;
	border-bottom: .2rem solid @bluePigment
}
